.active {
    color: rgb(69, 69, 203) !important;
}

.imageLogo {
    width: 130px !important;

}

.navbar {
    background-color: rgb(238, 238, 252) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05) !important;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 10px !important;
    }

    .imageLogo {
        width: 80px !important;

    }
}